<h1>Log me in!</h1>

<form class="loginForms" action="/login" method="post">
  <label for="name">Username:</label><br>
  <input class="input" type="text" name="name"><br>
  <label for="password">Password:</label><br>
  <input type="password" class="input" name="password">
  <!-- <a href="/"><button class="clickMeAgain" type="link">Go Back</button></a> -->
  <a href="#"><button type="submit" class="clickMeAgain up" name="button">Do it!</button></a>
</form>
<a href="/"><button type="button" class="clickMe motion" name="button">Go Back</button></a>
<h3>{{error}}</h3>
