<h1>Join the blog!</h1>

<form class="loginForms" action="/signup" method="post">
  <label for="username">Username:</label><br>
  <input class="input" type="text" name="username"><br>
  <label for="password">Password:</label><br>
  <input class="input" type="password" name="password">
  <a href="#"><button class="clickMeAgain" type="submit">Sign Up!</button></a><br>
</form>
<a href="/"><button class="clickMe motion" type="link">Go Back</button></a>
<h3>{{error}}</h3>
