<h1>Join the blog!</h1>

<form class="forms" action="/signup" method="post">
  <label for="username">Username:</label><br>
  <input type="text" name="username">
  <label for="password">Password:</label>
  <input type="text" name="password">
  <button type="submit" name="button">Sign Up!</button>
  <a href="/index"><button type="link">Go Back</button></a>
</form>
<h3>{{error}}</h3>
