<h1>CROSSFIT!</h1>
<a href="/">Go Home</a>
<ul>
  {{#each data}}
    <li>
    {{this.name}}<br>
    {{this.title}}<br>
    {{this.description}}<br>
    <img class="profile" src="{{this.image}}" alt="pic" /><br>
    </li>
  {{/each}}
</ul>
