<form method="post" action="/create">
  <!-- <input type="text" name="posting_id" placeholder="Your name"><br> -->
  <input type="text" name="title" placeholder="Athlete"><br>
  <input type="url" name="image" placeholder="Image url"><br>
  <textarea name="description" placeholder="Brief description of your athlete."></textarea><br>
  <button type="submit">3, 2, 1...GO!</button>
</form>
<a href="/">Go Home</a>
