<h2>{{users.name}}</h2>
<a href="/">Home</a><br>
<a href="/{{post.id}}/edit">Edit this Athlete</a><br>
<a href="/{{post.id}}/delete">Delete this Athlete</a><br>
<img src="{{post.image}}" alt="athlete" />
