<div id="banner">
  <img src="http://crossfitwycombe.com/wp-content/uploads/2015/11/crossfit1.jpg" alt="banner" />
</div>

<div class="homepage">
  <h1>Welcome to The People of Crossfit</h1>
  <button type="button"><a href="/blog">Take me there!!!</a></button>
</div>
