<div>
  <img id="banner" src="http://crossfitwycombe.com/wp-content/uploads/2015/11/crossfit1.jpg" alt="banner" />
</div>

<div class="homepage">
  <h1>Welcome to The People of Crossfit</h1>
  <h2>Add and talk about your favorite Athletes!</h2>
  <a href="/blog"><button class="clickMe" type="button">Login</button></a>
  <a href="/blog"><button class="clickMe" type="button">Sign Up</button></a>
</div>
