@import url(https://fonts.googleapis.com/css?family=Boogaloo);
@import url(https://fonts.googleapis.com/css?family=Signika:600);

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: radial-gradient(hsla(242, 100%, 48%, 0.61), rgb(192, 250, 204) );
  background-position: center;
}
h1 {
  font-family: 'Boogaloo', cursive;
  font-size: 4.5rem;
}
h2 {
  font-family: 'Boogaloo', cursive;
  font-size: 2.6rem;
}
h3 {
  font-family: 'Boogaloo', cursive;
  font-size: 2rem;
  text-decoration: underline;
}
p {
  font-family: 'Signika', sans-serif;
  font-size: 1.6rem;
}
li {
  font-family: 'Signika', sans-serif;
  font-size: 1.8rem;
}
a {
  color: #00B7FF;
}
#banner {
  width: 100%;
  height: 50vh;
  border-radius: 50%;
}
.homepage {
  width: 80%;
  margin: auto;
  text-align: center;
}
.topSection {
  width: 95%;
  text-align: center;
}
.clickMe {
  border-radius: 50%;
  width: 28%;
  height: 10vh;
  background-color: #000;
}
a .clickMe {
  font-size: 2rem;
  text-decoration: none;
  color: hsl(201, 81%, 53%);
}
a .clickMeAgain {
  font-size: 2rem;
  text-decoration: none;
  color: hsl(201, 81%, 53%);
  border-radius: 50%;
  width: 48%;
  height: 10vh;
  background-color: #000;
}
.up {
  margin-top: -5vh;
}
.container {
  width: 90%;
  margin: auto;
}
.profile {
  width: 30vw;
  height: 50vh;
  border-radius: 15px;
}
.block {
  float: left;
  margin: 2.5vw;
  text-align: center;
  list-style-type: none;
  padding: 5px;
}
.half {
  width: 45%;
  float: left;
}
.half img {
  width: 35vw;
}

/*            FORMS             */

.forms {
  width: 40vw;
  margin: auto;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.6rem;
  margin-top: 5vh;
}
.input {
  width: 20vw;
  height: 5vh;
  margin-left: 5vw;
  margin-top: 1vw;
  font-family: 'Signika', sans-serif;
  font-size: 1.2rem;
}
.textArea {
  margin-left: 5vw;
  font-size: 1.2rem;
  width: 25vw;
  height: 15vh;
}
.formButton {
  width: 58%;
  height: 10vh;
}
.addCommentButton {
  margin: 3vh 0 0 19vw;
}
.addAthleteButton {
  margin: 3vh 0 0 20vw;
}
/*form a button {
  margin-left: 20vw;
  margin-top: 5vh;
}*/

.motion {
  margin-left: 34vw;
  margin-top: 5vh;
}
button:hover {
  transition: all .5s ease;
  transform: rotate(360deg);
}
.list {
  margin-left: 1vw;
}
.commentBox {
  margin-left: 3vw;
  width: 33vw;
  height: 15vh;
  font-size: 1.2rem;
}
.moveUp {
  margin-bottom: 5vh;
}
.back {
  margin-left: -8vw;
  width: 60vw;
}
#marginBack {
  margin: 3vh 0 0 9vw;
}
.spacingEdit {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 3vh;
}
