body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#banner {
  width: 100%;
  height: 300px;
}
.homepage {
  width: 80%;
  margin: auto;
  text-align: center;
}
.profile {
  width: 25vw;
  height: 40vh;
}
